@import "src/styles/variables";

.reviews {


  padding: 40px 0 24px 0;
  @media(min-width: 920px) {
    //padding: 80px 29% 56px 19%;
    padding: 80px 0 56px 0;

  }

  .reviewsMobile {
    display: block;
    @media(min-width: 768px) {
     width: 50%;
      margin: 0 auto;
    }
    @media(min-width: 1024px) {
      display: none;
    }
  }

  .reviewsDesktop {
    display: none;
    @media(min-width: 1024px) {
      display: block;
      margin-bottom: 90px;
    }
  }

}