@import "src/styles/variables";

.offerWrapper {
  padding: 30px 16px 62px 16px;
  @media(min-width: 920px) {
    padding: 80px 0 56px 0;
    width: 90%;
    max-width: 1281px;
    margin: auto;
    display: flex;

  }

  .offer {
    background: linear-gradient(90deg, $green 0%, $darkGreen 77.68%);
    border-radius: 15px 15px 0 0;
    padding: 32px 9px 17px 20px;
    position: relative;
    @media(min-width: 920px) {
      flex: 0 0 60%;
      padding: 56px 104px 41px 110px;
      border-radius: 15px 0 0 15px;

    }

    .lion {
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      @media(min-width: 920px) {
        display: none;

      }
    }
    .bigLion {
      position: absolute;
      right: 0;
      top: 0;
      display: none;
      @media(min-width: 920px) {
        display: block;

      }
    }

    h3 {
      color: $brightWhite;
      text-align: center;
      margin-bottom: 24px;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      @media(min-width: 920px) {
        text-align: initial;
        font-size: 34px;
        line-height: 40px;
        margin-bottom: 40px;
      }
    }

    h4 {
      color: $brightWhite;
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 27px;
      text-align: center;
      @media(min-width: 920px) {
        text-align: initial;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 30px;
      }
    }

    .text {
      color: $white;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      @media(min-width: 920px) {
        font-size: 16px;
        line-height: 22px;
      }

    }


  }

  .button {
    background: $white;
    padding: 24px 0 24px 0;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: center;
    @media(min-width: 920px) {
      flex: 1;
      flex-direction: column;
      align-items: center;
      border-radius: 0 15px 15px 0;

    }
  }

}


.offer .text:first-of-type {
  margin-bottom: 12px;
  @media(min-width: 920px) {
    margin-bottom: 16px;

  }
}

.offer .text:nth-of-type(2) {
  margin-bottom: 15px;
  @media(min-width: 920px) {
    margin-bottom: 32px;

  }
}
