@import "../../styles/variables";

.header {
  width: 100%;
  padding-top: 5px;
  z-index: 999;
  @media(min-width: 1024px) {
    padding-top: 58px;
    margin-bottom: 80px;

  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;

  }
}

.logo {
  width: 150px;
  height: 36px;
  @media(min-width: 1024px) {
    width: 204px;
    height: 55.77px;

  }
}

.burgerButton:active path {
  stroke: $darkGreen;
}

.closeButton:active {
  fill: $darkGreen;

  path {
    stroke: white;
  }
}

.navMenu {
  @media(min-width: 1024px) {
    display: none;
  }
}

.navMenuMobile {
  position: relative;

  &__menu {
    position: fixed;
    top: 65px;
    height: 100vh;
    right: -300px;
    width: 218px;
    background: $darkGreen;
    border-radius: 15px 0 0 15px;
    padding-top: 24px;
    padding-left: 36px;
    transition: right 0.3s ease-in-out;
    z-index: 10;
  }
}

.open {
  right: -16px;
}

.close {
  display: none;
}


.desktopMenu {
  display: none;
  @media(min-width: 1024px) {
    display: block;
  }
}

