@import "src/styles/variables";

.list {
  display: flex;
  flex-direction: column;
  @media(min-width: 1010px) {
    flex-direction: row;

  }

  &__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 32px;
    }

    @media(min-width: 1010px) {
      margin-bottom: 0;
      //white-space: nowrap;
      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 32px;
      }

    }

    a {
      color: white;
      @media(min-width: 1010px) {
        color: #262626;
      }
    }

    a:active {
      color: $green;
      @media(min-width: 1010px) {
        text-decoration: underline;

      }
    }
  }
}

.blockFooter {
  @media(min-width: 920px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

  }

  &__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    @media(min-width: 920px) {
      font-size: 16px;
      line-height: 19px;

    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    a:active {
      color: $green;
      @media(min-width: 920px) {
        text-decoration: underline;

      }
    }
  }
}