@import "src/styles/variables";

.header {
  padding: 21px 16px 0 16px;
  margin-bottom: 45px;
  @media(min-width: 920px) {
    padding: 56px 0 56px 0;
    width: 90%;
    max-width: 1281px;
    margin:  0 auto 101.63px auto;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //@media(min-width: 920px) {
    //
    //
    //}
  }
}

.logo {
  width: 150px;
  height: 36px;
  @media(min-width: 920px) {
    width: 204px;
    height: 55.77px;
    //margin-right: 25%;
  }
}

.burgerButton:active path {
  stroke: $darkGreen;
}

.closeButton:active {
  fill: $darkGreen;

  path {
    stroke: white;
  }
}
.navMenu {
  @media(min-width: 920px) {
 display: none;
  }
}
.navMenuMobile {
  position: relative;

  &__menu {
    position: fixed;
    top: 68px;
    height: 100vh;
    right: -300px;
    width: 218px;
    background: $darkGreen;
    border-radius: 15px 0 0 15px;
    padding-top: 24px;
    padding-left: 36px;
    transition: right 0.3s ease-in-out;
    z-index: 2;
  }
}

.open {
  right: -16px;
}

.close {
  display: none;
}


.desktopMenu {
  display: none;
  @media(min-width: 920px) {
    display: block;
  }
}