@import "src/styles/variables";

.reviewsWrap {
  padding-bottom: 173px;
  padding-top: 123px;
  position: relative;

  .lion {
    position: absolute;
    z-index: -6;
    left: -300px;
    top: 210px;


  }


  .title {
    padding-bottom: 93px;
  }

  .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 744px;
    margin-bottom: 80px;

    p:first-of-type {
      margin-bottom: 24px;
    }

  }


  .sliderWrap {
    height: 785px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;

    .centralPhoto {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);


      .avatarWrapper {
        display: flex;
        justify-content: center;
        position: relative;

        .avatar {
          border-radius: 50%;

        }

        .circle {
          position: absolute;
          top: 180px;

        }
      }
    }


    .rowOnde, .rowTwo {
      display: flex;
      position: relative;
      height: 350px;

    }

    .rowTwo {
      justify-content: space-between;
      align-items: center;

      .arrow {
        display: flex;
        align-items: center;
        justify-content: center;


        &.disable {
          pointer-events: none;
        }
      }
    }
  }
}

.arrowLeft {
  width: 63px;
  height: 63px;
  border: 1px solid $darkGreen;
  border-radius: 50%;
  background: url("../../assets/pictures/svg/arrows/Vector 3.svg") no-repeat center;
  cursor: pointer;

}

.arrowRight {
  width: 63px;
  height: 63px;
  border: 1px solid $darkGreen;
  border-radius: 50%;
  background: url("../../assets/pictures/svg/arrows/Vector 3.svg") no-repeat center;
  rotate: 180deg;
  cursor: pointer;

}

.arrowLeft:hover {
  rotate: 180deg;
  background: url("../../assets/pictures/svg/arrows/Vector 3 white.svg") no-repeat center $darkGreen;

}

.arrowRight:hover {
  background: url("../../assets/pictures/svg/arrows/Vector 3 white.svg") no-repeat center $darkGreen;
  rotate: 0deg;

}

