.module {
  height: 457px;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  top:0px;
  left:0px;
  border-radius: 15px 0 0 15px;
  z-index: 12;
  //возможно нужно будет отцентрировать с помощью флекс
  &__content {
width: 80%;
    border-radius: 15px;
    //background-color: #F5F7F6;

  }
}