@import "../../../../styles/variables";

.success {
  padding: 168px 0 0 0;
  width: 93%;
  margin: auto;
  max-width: 343px;
  border-radius: 0;
  position: relative;
  @media(min-width: 920px) {
    max-width: 845px;
    padding: 125px 0 0 0;
    width: 50%;
    border-radius: 15px;
  }

  .lion {
    position: absolute;
    top: 0;
    left: -30px;

  }

  .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    @media(min-width: 768px) {
      top: 0px;
      right: -50%;
    }

  }

  p {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $darkGreen;
    margin-bottom: 56px;
  }

  .ok {
    text-align: center;
    margin-bottom: 176px;
    @media(min-width: 920px) {

      margin-bottom: 125px;
    }
  }
}


.closeButton:active {
  fill: $darkGreen;

  path {
    stroke: white;
  }
}


