@import "src/styles/variables";


@media(min-width: 920px) {

  padding: 80px 0 56px 0;
  width: 90%;
  max-width: 1281px;
  margin: auto;
}


.footer {
  padding: 41px 0 24px 0;
  width: 90%;
  //max-width: 375px;
  margin: auto;
  display: flex;


  @media(min-width: 920px) {

    padding: 92px 0 97px 0;
    width: 90%;
    max-width: 1281px;
    margin: auto;
  }

  .contacts {
    flex-basis: 48%;
    @media(min-width: 920px) {
      flex-basis: 20%;
    }
  }

  .navMenu {
    flex-basis: 42%;
    @media(min-width: 920px) {
      flex-grow: 1;
      margin: auto;
      align-self: center;

    }

    .menuHeading {
      @media(min-width: 920px) {
        display: none;
      }
    }
  }

  .links {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    @media(min-width: 920px) {
      justify-content: space-around;
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      width: 1px;
      height: 51px;
      background-color: $white;
      @media(min-width: 920px) {
        height: 37px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 1px;
      height: 51px;
      background-color: $white;
      @media(min-width: 920px) {
        height: 37px;
      }

    }

    .messenger {
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: center;
      align-self: center;

      .telegram {
        display: block;
        @media(min-width: 920px) {
          display: none;
        }
      }

      .bigTelegram {
        display: none;
        @media(min-width: 920px) {
          display: block;
        }
      }

      .mail {
        display: block;
        @media(min-width: 920px) {
          display: none;
        }
      }

      .bigMail {
        display: none;
        @media(min-width: 920px) {
          display: block;
        }
      }
    }


  }

  h3 {
    font-weight: 600;
    font-size: 16px;
    color: $white;
    line-height: 36px;
    margin-bottom: 24px;
    @media(min-width: 920px) {
      font-size: 24px;
      line-height: 42px;
      letter-spacing: 0.05em;
      margin-bottom: 48px;
    }
  }

  p {
    font-weight: 400;
    font-size: 14px;
    color: $white;
    line-height: 16px;
    opacity: 60%;
    @media(min-width: 920px) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  p:not(:last-child) {
    margin-bottom: 16px;
  }

}


.telegram:active,
.bigTelegram:active {
  fill: $darkGreen;

  path {
    stroke: white;
  }
}

.mail:active {
  fill: $darkGreen;

  path {
    stroke: white;
  }
}
