@import "src/styles/variables";

.aboutSchool {
  padding: 24px 0 24px 0;
  @media(min-width: 1024px) {
    padding: 56px 0 56px 0;

  }

  .aboutSchoolWrapper {
    display: flex;
    flex-direction: column;

  }

  .title {
    margin-bottom: 24px;
    @media(min-width: 1024px) {
      margin-bottom: 93px;
    }
  }

  .slider {
    margin-bottom: 24px;
    @media(min-width: 480px) {
      order: 2;
      width: 75%;
      margin: 30px auto 0 auto;

    }
    @media(min-width: 768px) {
      order: 2;
      width: 50%;
      margin: 30px auto 0 auto;

    }
    @media(min-width: 1024px) {
      width: 100%;

    }

  }

  .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    @media(min-width: 1024px) {
      order: 1;
      font-size: 16px;
      line-height: 22px;
      max-width: 600px;
      &:nth-child(3) {
        max-width: 685px;

      }
    }

    span {
      font-weight: 600;
      @media(min-width: 1024px) {
        font-weight: 400;
      }
    }

    &:first-of-type {
      margin-bottom: 16px;
    }


  }
}





