@import "src/styles/variables";

.aboutMe {
  background: $backgroundGreen;
  padding: 40px 16px 24px 16px;
  @media(min-width: 920px) {

    padding: 80px 0 56px 0;
    width: 90%;
    max-width: 1281px;
    margin: auto;

  }

  .infoPhotoWrapp {
    margin-bottom: 56px;
    @media(min-width: 920px) {
      display: flex;
      justify-content: space-between;
    }

    .info {
      position: relative;

      .titleAboutWrap {
        margin-bottom: 24px;
      }

      .presentation {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #262626;
        margin-bottom: 24px;
        @media(min-width: 920px) {
          font-size: 20px;
          line-height: 28px;
        }

        .name {
          font-weight: 600;
          color: $darkGreen;
        }
      }

      .description {
        padding-left: 59px;
        margin-bottom: 24px;
        @media(min-width: 920px) {
          padding-left: 121px;
          margin-bottom: 0;
        }

        li {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #262626;
          @media(min-width: 920px) {
            font-size: 16px;
            line-height: 22px;
          }
        }

        li:not(:last-child) {
          margin-bottom: 16px;
          @media(min-width: 920px) {
            margin-bottom: 24px;
          }
        }

      }

      .circles {
        position: absolute;
        top: 123px;
        left: -16px;
        @media(min-width: 920px) {
          display: none
        }
      }

      .bigCircles {
        display: none;
        @media(min-width: 920px) {
          display: block;
          position: absolute;
          top: 135px;
          left: -60px;
        }
      }


    }

    .photo {
      padding-left: 59px;
      @media(min-width: 920px) {
        display: none;

      }
    }

    .photoBig {
      display: none;
      @media(min-width: 920px) {
        display: block;
        margin-left: 70px;

      }
    }

  }

  .titleSpecialWrap {
    margin-bottom: 32px;
  }

  .icons {
    display: flex;
    justify-content: space-between;


    .icon {
      width: 109px;
      height: 109px;
      border-radius: 12px;
      background-color: white;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .allSvgComponent {
        display: block;
        padding-bottom: 5px;
        @media(min-width: 920px) {
          width: 0;
          height: 0;

        }
      }

      .allSvgComponentBig {
        display: none;

        @media(min-width: 920px) {
          display: block;
          padding-bottom: 20px;
        }
      }

      @media(min-width: 920px) {
        width: 407px;
        height: 298px;
        border-radius: 15px;
        font-size: 18px;
        line-height: 25px;

      }
    }

    .go {
      padding: 10px 0 0 0;

      .goComponent {
        margin-bottom: 10px;
        @media(min-width: 920px) {
          margin-bottom: 15px;

        }
      }
    }
  }

}



