@import "src/styles/variables";

.teaching {

  padding: 40px 0 51px 0;
  position: relative;
  @media(min-width: 1024px) {
    padding: 64px 0 64px 0;

  }

  .title {
    margin-bottom: 40px;
    @media(min-width: 1024px) {
      margin-bottom: 93px;
    }
  }


  .teachingWrapper {
    position: relative;
    z-index: 5;
    @media(min-width: 1024px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;


    }

    .signature {
      display: none;
      @media(min-width: 1920px) {
        display: block;
        position: absolute;
        top: 39%;
        left: 41%

      }


    }

    .lion {
      position: absolute;
      top: 200px;
      left: -20px;
      z-index: 0;
      opacity: 40%;
      @media(min-width: 600px) {
        display: none;

      }
    }



    .teachingPhoto {
      float: left;
      margin-right: 10px;
      position: relative;
      z-index: 5;
      @media(min-width: 1024px) {
        display: none;


      }
    }

    .teachingBigPhoto {
      display: none;
      @media(min-width: 1024px) {
        display: block;
        order: 1;
        z-index: 2;


      }
    }

    .aboutStudy {
      @media(min-width: 1024px) {

        order: 2;


      }
    }


    .aboutStudents {
      float: right;
      margin-left: 10px;
      @media(min-width: 1024px) {
        display: none;
      }
    }

    .aboutStudentsBig {
      display: none;
      @media(min-width: 1024px) {
        display: block;
        order: 4;
        margin-bottom: 0;


      }
    }

    .aboutStudyPartTwo {
      @media(min-width: 1024px) {
        align-self: center;
        order: 3;


      }
    }
  }
}

.text {
  font-weight: 400;
  font-size: 14px;
  color: #262626;
  line-height: 20px;
  position: relative;
  z-index: 5;
  margin-bottom: 12px;
  @media(min-width: 1024px) {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 24px;

  }

}


.aboutStudyPartTwo p.text:last-of-type {
  margin-bottom: 0;
}

.aboutStudy p.text:last-of-type {
  @media(min-width: 1024px) {
    margin-bottom: 0;

  }
  margin-bottom: 0;
}


.teachingWrapper > * {
  @media(min-width: 1024px) {
    flex-basis: 100%;

  }
  @media(min-width: 1024px) {
    flex-basis: 48%;
    margin-bottom: 51px;
  }
}



.bigLion {
  display: none;
  @media(min-width: 1920px) {
    display: block;
    position: absolute;
    z-index: 0;
    //right: 1210px;
    //top: -50px;
    top:100px;
    right: 1120px;
    opacity: 30%;

  }
}
